body{
    background-color: #00001f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   
*{
    padding: 0;
    margin :0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 5% ;
}
.logo{
    color: rgb(5, 4, 4);
    font-size: 35px;
    color: beige;
}
span{
    color: #0ef;
    /*color: #ea1538;*/
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color:beige;
    text-decoration: none;
    font-weight:bold;
    font-size: 20px;

}
nav ul li a:hover{
    color: #0ef;
    /*color: #ea1538;*/
    transition: 0.3s;
    text-decoration: underline;
}
button{
    border:none;
    background: rgb(0, 147, 158);
    padding: 12px 30px;
    border-radius: 30px;
    color:beige;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s;
}
button:hover{
    transform: scale(1.4);
    cursor: pointer;
    box-shadow:0 0 20px rgb(0, 147, 158);

}
.intro{
    position: absolute;
    top: 200px;
    right: 100px;
}
.line0{
    font-size: 25px;
   /* font-weight: bold;*/
    color: beige;
}
.line1{
    font-size: 70px;
    font-weight: bold;
    color: beige;
}
.line2{
    font-size: 45px;
    /*font-weight: bold;*/
    color: beige;
}
.button1{
    position: absolute;
    top: 450px;
    right:700px;
}
.button2{
    position:absolute;
    top:450px;
    right:450px;
}
.about{
    padding-left: 40%;
}
.about_me{
    position: absolute;
    top: 150px;
    left: 300px;
    right: 600px;
    color: beige;
    font-size: 27px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.about_me_info{
    position: absolute;
    top:250px;
    left: 160px;
    font-size: 25px;
    font-weight: bold;
    color: beige;
}
.about_me_text{
    position: absolute;
    top: 300px;
    left: 160px;
    right: 700px;
    font-size: 20px;
    font-weight: lighter;
    color: beige;
}
.myinfo{
    position: absolute;
    top:300px;
    left:150px;
    right:550px;
    font-weight:bold;
    font-size: 24px;
    color: beige;

}
.myinfo ul li{
    font-weight:bold ;
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} 
.lighter{
    font-weight: bold;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 60px;
    right: 300px;
    color: beige;
}
.skills{
    text-decoration: underline;
}
.contact{
    padding-left: 40%;
}
.contact-box{
    width:500px;
    background-color: #fff;
    box-shadow:0 0 40px #0ef;
    top:430px;
    right:40px;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 30px;
}
form{
    margin: 35px;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height:150px;
    padding-top: 10px;
}
.btn{
    border:none;
    background: rgb(0, 147, 158);
    margin-top: 18px;
    padding: 12px 12px;
    border-radius: 30px;
    color:beige;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
    width: 150px;
}
.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 20px rgb(0, 147, 158);
}
.contact_info{
    position: absolute;
    top: 250px;
    left: 95px;
    right: 836px;
    font-size: 30px;
    color: beige;
}
.project{
    padding-left: 40%;
}
                                        /* animation starts*/
.animation_body{
    display: flex;
    min-height: 100vh;
    background: #00001f;
}
.wrapper{
    display: inline-flex;
    /*position: absolute;
    top: 200px;
    right: 160px;*/
}
.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400px;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-txts li{
    color: #0ef;
    list-style: none;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    top: 0;
    animation:slide 6s steps(4)  infinite;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
} 
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 90px;
    width: 100%;
    background:  #00001f;
    border-left: 5px solid #0ef;
    animation:typing 1.5s steps(20)  infinite;
}
@keyframes typing{
    100%{
        left:100%;
        margin: 0 -35px 0 35px;
    }
}
/*images\programmer.svg*/


.wrapper .dynamic-txts2{
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.dynamic-txts2 li{
    color: #0ef;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: 0;
    animation:slide2 6s steps(3)  infinite;
}
@keyframes slide2{
    100%{
        top: -115px;
    }
}
.dynamic-txts2 li span{
    position: relative;
} 
.dynamic-txts2 li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 35px;
    width: 210%;
    background:  #00001f;
    border-left: 3px solid #0ef;
    animation:typing 2.0s steps(20)  infinite;
}
@keyframes typing{
    100%{
        left:100%;
        margin: 0 -25px 0 25px;
    }
}
.my_project{
    position: absolute;
    top: 180px;
    left: 650px;
    right: 500px;
    color: beige;
    font-size: 27px;
}
.div_1{
    color: black;
    position: absolute;
    top: 350px;
    left: 400px;
    right: 900px;
    padding: 100px;
    background-color:#0ef;
}
.div_2{
    color: black;
    position: absolute;
    top: 350px;
    left: 700px;
    right: 600px;
    padding: 100px;
    background-color:#0ef;
}
.div_3{
    color: #black;
    position: absolute;
    top: 350px;
    left: 1000px;
    right: 300px;
    padding: 100px;
    background-color: #0ef;
}
.div_1:hover{
    transform: scale(1.2);
    cursor: pointer;
    box-shadow:0 0 20px rgb(0, 147, 158);
}
.div_2:hover{
    transform: scale(1.2);
    cursor: pointer;
    box-shadow:0 0 20px rgb(0, 147, 158);
}
.div_3:hover{
    transform: scale(1.2);
    cursor: pointer;
    box-shadow:0 0 20px rgb(0, 147, 158);
}